@page "/convert"

<PageTitle>Konvetera</PageTitle>
<h2>Konvertera</h2>

<h4>Meter till fot</h4>
<label for="meter">Meter</label>
<input type="number" class="form-control" @bind="meter" />
<br />
<button class="btn btn-primary" @onclick="ConvertMeter">Konvertera</button>
<br />
<p>Resultat: @feet fot</p>

<h4>Kilometer/timme till miles/hour</h4>
<label for="km">Kilometer per timme</label>
<input type="number" class="form-control" @bind="km" />
<br />
<button class="btn btn-primary" @onclick="ConvertKM">Konvertera</button>
<br />
<p>Resultat: @miles miles/hour</p>


@code {
    private double meter;
    private double km;
    private double feet;
    private int miles;

    private void ConvertMeter()
    {
        // 1 meter = 3.28084 fot
        feet = Math.Round(meter * 3.28084, 2);
    }

    private void ConvertKM()
    {
        // 1 km/h ≈ 0.621371 miles/h
        miles = (int)Math.Round(km * 0.621371);
    }
}