@page "/convert"

<PageTitle>Konvetera</PageTitle>

<h1>Konvertera</h1>




@* undersida med funktionalitet att utföra följande saker:
Konvertera meter till fot (feet) - matas exempelvis 2 in för antal meter, ska resultatet visa 6,6 fot (avrunda till två decimaler).
Konvertera km/h till miles/hour - matas exempelvis 100 in för km/h, ska resultatet visa 62 miles/hour (avrunda till heltal). *@