@page "/europe-countries"
@inject HttpClient Http

<h2>Europas länder</h2>

@if (countries == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var country in countries)
        {
            <li>@country.Name.Common</li>
        }
    </ul>
}


@code {
    private List<CountryInfo>? countries;

    protected override async Task OnInitializedAsync()
    {
            countries = await Http.GetFromJsonAsync<List<CountryInfo>>("https://restcountries.com/v3.1/region/europe");

      
    }

public class CountryInfo
{
    public Name Name { get; set; }
}

public class Name
{
    public string Common { get; set; }
}
}
