
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Metersystemet</h5>
        <p class="card-text">Metersystemet grundar sig på metern som enhet och fastställdes i Frankrike under 1700-talet.
        Grundtanken för metersystemet var att man skulle utgå från oföränderliga naturkonstanter istället för tillverkade prototyper.
        Metersystemet används i alla länder i världen, förutom USA, Burma och Liberia.</p>
    </div>
</div>

