@inherits LayoutComponentBase

<PageTitle>moment1.2</PageTitle>

<div class="top-menu">
    <NavMenu />
</div>

<main class="content">
    @Body
</main>

<div class="footer">
    <Footer />
</div>