<div class="navbar-brand">Moment 1.2</div>
<nav class="navbar navbar-expand navbar-light bg-light">
   
  <div>
    <div class="navbar-nav">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Startsida
        </NavLink>
        <NavLink class="nav-link" href="convert">
            <span class="oi oi-calculator" aria-hidden="true"></span> Konvertera
        </NavLink>
        <NavLink class="nav-link" href="json">
            <span class="oi oi-file" aria-hidden="true"></span> JSON
        </NavLink>
    </div>
  </div>
</nav>






   
