/* _content/moment1.2/Shared/MainLayout.razor.rz.scp.css */
.content[b-qh70s5oonc]{
    padding: 40px;
    max-width: 900px;
    min-height: 85vh;
}
/* _content/moment1.2/Shared/NavMenu.razor.rz.scp.css */
.navbar-brand[b-259r5ipujr]{
    padding: 20px;
}
.navbar-nav[b-259r5ipujr]{
   margin-left: 20px;
}
.nav-link[b-259r5ipujr]{
    padding-left: 10px;
}
